[project]
	description = This is a test for Eric He.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hezhensong
[access "refs/for/refs/*"]
	read = group user/hezhensong
	push = group user/hezhensong
	label-Code-Review = -2..+2 group user/hezhensong
	label-Verified = -1..+1 group user/hezhensong
	rebase = group user/hezhensong
	removeReviewer = group user/hezhensong
	submit = group user/hezhensong
[access "refs/heads/*"]
	read = group user/hezhensong
	create = group user/hezhensong
	push = +force group user/hezhensong
	pushMerge = group user/hezhensong
[access "refs/tags/*"]
	push = +force group user/hezhensong
	pushTag = group user/hezhensong
	pushSignedTag = group user/hezhensong
